/*
	Sets the background for the website
*/
body{
	padding:0px;
	margin:0px;
	background: url('../Assets/album-cover.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
}

.reportp{
	position:relative;
	float:center;
	top:20%;
	width:90%;
	font-size:130%;
	text-align:center;
}

.reportimg{
	width:85%;
	border-style:solid;
	border-width:2px;
}

/*
	Styles the header at the top of every page
*/
.header{
	display: block;
	font-size: 100%;
	font-family:'Belleza';
	background-color:transparent;
	height: 15%;
	
}
/*
	Sets position of the block that will hold the content for the page
*/
.page{
	position:fixed;
	left:9%;
	top:9%;
	width:81.3%;
	height:84%;
}
/*
	Sets position of the block that will hold the report
*/
#reportdiv{
	position:fixed;
	left:9%;
	top:9%;
	width:81.3%;
	height:84%;
	overflow:scroll;
}
/*
	Ensures that p tags fit the full width of their parent elements
*/
p{
	display:block;
	width:100%;
}
/*
	Sets the position and size of the navigation box for each page
*/
.navbox{
	position:relative;
	float:left;
	top:3%;
	width:12%;
	height:6%;
}

/*
	Centers the page title
*/
.pagehead{
	text-align:center;
	display:block;
}

/*
	Positions the images on the home page
*/
#image1{
	position:absolute;
	top:15%;
	left:18%;
}

#image2{
	position:absolute;
	top:44%;
	left:18%;
}
/*
	Sets the container that allows text to appear over the image
*/
.container{
	position:relative;
	display:block;
	top:5%;
	width:60%;
	height:25%;
}
/*
	Styles the text that will appear on the images
*/
.text {
  white-space: nowrap; 
  color: white;
  font-size: 75%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*
	When the container is hovered over the overlay appears
*/
.container:hover .overlay {
  bottom: 0;
  height: 100%;
}
/*
	Styles the overlat that appears when the image is hovered over 
*/
.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
/*
	Ensures the home page images fit their parent elements fully
*/
#homeimg1{
	display:block;
	width:100%;
	height:100%;
}

#homeimg2{
	display:block;
	width:100%;
	height:100%;
}

/*
	Styles the intro paragraph for the page
*/
#intro{
	position:absolute;
	top:72%;
	left:10%;
	width: 80%;
	padding:0px;
	margin:0px;
	font-size: 70%;
}

/*
	Styles and positions the hyperlinks for the music streaming sites
*/
#applemusiclink{
	position:absolute;
	left:20%;
	top:45%;
	
}

#apple{
	width:60%;
}


#spotifylink{
	position:absolute;
	left:20%;
	top:24%;
	
}

#primemusiclink{
	position:absolute;
	left:20%;
	top:66%;
}
/*
	Positions caption for links
*/
#linkinfo{
	position:absolute;
	top:14%;
	font-size:72%;
	left:3%;
}

/*
	Styles main section that will hold content
*/

.main{
	padding:0px;
	margin:0px;
	display:block;
	background-color:transparent;	
	height:100%;
	width:100%;
}
/*
	Positions embedded social media pages
*/

#twitterpage{
	width:100%;
	height:80%;
	
}

#twitterdiv{
	display:block;
	position:absolute;
	top:50%;
	left:4%;
	width:92%;
	height:36%;
}

#facebookpage{
	width:97%;
	height:63%;
	border:none;
	overflow:auto;
}

#facebookdiv{
	display:block;
	position:absolute;
	left:4%;
	top:16%;
	width:92%;
	height:50%;
}
/*
	Sets dimensions for images on about page
*/
.memberpics{
	position:absolute;
	height:30%;
	width:25%;
}

/*
	Positions images of band members
*/
#davebayley{
	position:absolute;
	left:3%;
	top:18%;
	
}
#drewmacfarlane{
	position:absolute;
	left:37%;
	top:18%;
}
#joeseaward{
	position:absolute;
	left:67%;
	top:18%;
}	
#edmundirwinsinger{
	position:absolute;
	left:5%;
	top:55%;

}

/*
	Positions captions of band member images 
*/
#daveCaption{
	position: absolute;
	left:3%;
	top:48%;
}

#drewCaption{
	position: absolute;
	left:35%;
	top:48%;
}

#edmundCaption{
	position: absolute;
	left:2%;
	top:86%;
}

#joeCaption{
	position: absolute;
	left:67%;
	top:48%;
}
/*
	Sets font size for figcaption
*/
figcaption{
	font-size:60%;
}

/*
	Positions bio paragraph about band
*/
#bandinfo{
	position:absolute;
	display:block;
	text-align:center;
	top:52%;
	left:33%;
	 width:60%;
	 height:40%;
	  font-size:60%;
	 
}

/*
	positions and styles conatiner div for songs added to playlist
*/
#playlistdiv{
	position:absolute;
	height:75%;
	width:35%;
	border-style:solid;
	border-width:1px;
	top:20%;
	left:55%;
	overflow-x: hidden;
	overflow-y: auto;
	font-size:60%;
	border-radius: 25px;
}
/*
	Positions and styles list of songs to be used for the playlist
*/
#songlist{
	position:absolute;
	left:5%;
	top:20%;
	width:46%;
	height:75%;
	overflow-x: hidden;
	overflow-y: auto;
	font-size:70%;
}
/*
	Allows list to float to the left of their parent element
*/
#draglist{
	position:absolute;
	left:5%;
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

#yoursongs{
	position:absolute;
	left:5%;
	margin: 0;
	padding: 0;
}

/*
	Removes bullet points from list
*/
ul{
	list-style-type: none;
	
}
/*
	Sets position of caption/span in the div that collects the songs added to the playlist
*/
#playlist div span{
	bottom:0;
}

/*
	Styles buttons to delete songs from the playlist
*/
.delete{
	border:none;
	color:black;
	background-color: Transparent;
	cursor:pointer;
}
/*
	Positions and styles google maps window
*/
#map{
	position:absolute;
	top:60%;
	left:10%;
	width:70%;
	height:35%;
	
}

/*
	Positions and styles video on Live page
*/
#video{
	position:absolute;
	top:20%;
	left:10%;
	width:70%;
	height:35%;
}

#livevid{
	width:100%;
	height:100%;
}

#demovid{
	width:100%;
	height:100%;
}
#demovideo{
	position:absolute;
	top:20%;
	left:10%;
	width:70%;
	height:65%;
}

/*
	Sets different styles when the screen width is more than 768px, this is for tablets and mobiles
*/

@media only screen and (min-width: 768px) {
	
	body{
	padding:0px;
	margin:0px;
	background: url('../Assets/album-cover.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
}

	#image1{
		position:absolute;
		top:20%;
		left:10%;
	}
	#image2{
		position:absolute;
		top:20%;
		left:55%;
	}
	
	#intro{
	position:absolute;
	top:65%;
	left:10%;
	width: 80%;
	font-size: 140%;
}


.header{
	position:absolute;
	display: block;
	font-size: 150%;
	background-color:transparent;
	height: 15%;
	left:44%;
}	
.container{
	position:relative;
	display:block;
	width:35%;
	height:32%;
}

#image1{
	position:absolute;
	top:18%;
	left:10%;
}

#image2{
	position:absolute;
	top:18%;
	left:54%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 140%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#twitterdiv{
	display:block;
	position:absolute;
	top:20%;
	left:55%;
	width:30%;
	height:70%;
	
}

#facebookdiv{
	display:block;
	position:absolute;
	top:20%;
	left:20%;
	width:30%;
	height:86%;
}

#twitterpage{
	width:100%;
	height:100%;
	
}

#facebookpage{
	width:100%;
	height:80%;
	border:none;
	overflow:auto;
}

#map{
	position:absolute;
	top:20%;
	left:50%;
	width:40%;
	height:50%;
	
}

#video{
	position:absolute;
	top:20%;
	left:5%;
	width:40%;
	height:50%;
}

.memberpics{
	position:absolute;
	height:40%;
	width:18%;
}

#davebayley{
	left:8%;
	top:18%;
	
}
#drewmacfarlane{
	left:30%;
	top:18%;
}
#joeseaward{
	left:55%;
	top:18%;
}	
#edmundirwinsinger{
	left:75%;
	top:18%;

}

figcaption{
	font-size:100%;
}

#daveCaption{
	position: absolute;
	left:11%;
	top:59%;
}

#drewCaption{
	position: absolute;
	left:33%;
	top:59%;
}

#edmundCaption{
	position: absolute;
	left:77%;
	top:59%;
}

#joeCaption{
	position: absolute;
	left:59%;
	top:59%;
}
#bandinfo{
	position:absolute;
	display:block;
	text-align:left;
	top:64%;
	left:8%;
	 width:90%;
	 height:35%;
	 font-size:140%;
}

#applemusiclink{
	position:absolute;
	top:10%;
	left:26%;
}

#spotifylink{
	position:absolute;
	top:30%;
	left:5%;
	width:30%;
	height:30%;
}

#primemusiclink{
	position:absolute;
	top:33%;
	left:75%;
}

#apple{
	width:60%;
}

#linkinfo{
	position:absolute;
	top:24%;
	font-size:120%;
	left:35%;
}
#playlistdiv{
	position:absolute;
	float:right;
	border:10px;
	height:75%;
	width:40%;
	border-style:solid;
	border-width:3px;
	top:20%;
	left:55%;
}

#songlist{
	position:absolute;
	left:10%;
	top:20%;
	width:30%;
	height:75%;
	overflow-x: hidden;
	overflow-y: auto;
	font-size:120%;
}

#yoursongs{
	left:10%;
}
#playlistdiv{
	position:absolute;
	border:10px;
	height:75%;
	width:40%;
	border-style:solid;
	border-width:3px;
	top:20%;
	left:55%;
	overflow-x: hidden;
	overflow-y: auto;
	font-size:100%;
	border-radius: 25px;
}

}
